{% extends "base.html" %}
{% block content %}

	<!-- ajax -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
	<script src="{{ url_for('static', filename='js/load.js') }}"></script>

	<!-- Private repos -->
	<div class="row">
		<table style="margin-bottom: 0px;" class="table">
			<tr>
				<td><span class="lead">Private repository: </span></td>
				<td>
					<select id="repoName" class="custom-select lead main-select" >
						<option disabled selected value>Your Repository</option>
						{% for repo in repos %}
							<option value = "{{ repo.name }}"> {{ repo.name }} </option>
						{% endfor %}
					</select>
				</td>
			</tr>
			<tr>
				<td><span class="lead">Public repository: </span></td>
				<td>
					<div>
						<input class="form-control" type="text" placeholder="torvalds"
							name="publicUsername" id="publicUsername" style="margin-bottom: 2%;">
						<input class="form-control" type="text" name="publicRepoName" id="publicRepoName"
							placeholder="linux">
					</div>
				</td>
			</tr>
		</table>
	</div></br>

	<!-- Statistics -->
	<div class="row">

		<div class="progress main-progress" id="progress" >
  			<div class="progress-bar progress-bar-striped active visible main-progress-bar" role="progressbar" >
  			</div>
		</div>

		<div class="well main-well" id="dashboard" >
			No Repository Selected :(
		</div>
	</div><br>

	<!-- Log out -->
	<div class="row">
		<form action = "/logout" method = "post">
			<input type = "submit" value = "logout {{ username }} " class="btn btn-danger btn-sm wide-button">
		</form>
	</div>

{% endblock %}